@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.tiptap ol {
  list-style-type: disc;
}
.tiptap ul {
  list-style-type: decimal;
}

.tiptap ol,
.tiptap ul {
  margin-left: 15px;
}

.tiptap h2,
.tiptap h3,
.tiptap h4 {
  @apply font-display font-semibold;
}
/* h2.editorHeading,
h3.editorHeading,
h4.editorHeading {
  @apply font-display font-semibold;
} */

.tiptap h2 {
  @apply text-2xl;
}
.tiptap h3 {
  @apply text-xl;
}
.tiptap h4 {
  @apply text-lg;
}

.tiptap p {
  @apply leading-8;
}

.tiptap code {
  @apply font-code bg-[#f4f4f4] border border-[#ccc] rounded-[5px] py-[1px] px-[4px] text-sm;
}
.tiptap blockquote {
  /* font-size: 1.4em; */
  width: 60%;
  /* margin: 50px; */
  font-style: italic;
  color: #555555;
  padding: 1em 30px 1.2em 40px;
  border-left: 8px solid black;
  line-height: 1.6;
  position: relative;
  background: #ededed;
}

.tiptap blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: black;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

.tiptap blockquote::after {
  content: "";
}

.section-content {
  @apply p-12 max-w-[1220px] mx-auto;
}

.cl-formButtonPrimary {
  @apply bg-neutral-900 hover:bg-neutral-800 text-white;
}

.cl-formFieldInput {
  @apply border-neutral-300 rounded-md;
}

.cl-internal-b3fm6y {
  display: none;
}
